body{ 
    background-color: #56077E;
    background-image: url(../image/prijava.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}
.flex-container {
    flex-grow: 1;
    width: 100%;
    min-height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.row {
    width: auto;
}
.flex-item {
    width: 100%;
    max-width: 450px;
    padding: 1.75rem;
    background:#fff;
}

    .wrapper{ width: 350px; padding: 20px; }
    
    .signup__container {
position: absolute;
top: 50%;
right: 0;
left: 0;
margin-right: auto;
margin-left: auto;
transform: translateY(-50%);
overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
border-radius: 0.1875rem;
}

.form-control {
width: 100%;
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
color: #55595c;
background-color: #fff;
background-image: none;
border: .0625rem solid #ccc;
border-radius: .25rem;
}
.form-control {
background-color: transparent;
border-top: 0;
border-right: 0;
border-left: 0;
border-radius: 0;
outline: none!important;
-webkit-box-shadow: none;
box-shadow: none;
}
.uspjesno {border-bottom:2px solid green;}
    .neuspjesno {border-bottom:2px solid red;}
    .form-control:focus {
border-color: #66afe9;
outline: 0;
-webkit-box-shadow: none;
box-shadow: none;
}
.signup__form {
padding: 2rem 4rem;
background: #fff;
width: 100%;
max-width: 400px;
}
.help-block {display:none;}



.registracijska-forma, .prijava-forma, .resetiraj-forma {display:none;}