html {
    background: #1C3FAA;
}
html body {
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: Roboto;
    font-size: 0.875rem;
    --text-opacity: 1;
    color: #2d3748;
    color: rgba(45, 55, 72, var(--text-opacity));
}

.container-fluid {display: flex;}
.side-nav {
    width: 230px;
    padding-right: 1.25rem;
    padding-bottom: 4rem;
    overflow-x: hidden;
}
.content {
    border-radius: 30px;
    padding: 0px 22px;
    min-height: 100vh;
    --bg-opacity: 1;
    background-color: #F1F5F8;
    background-color: rgba(241, 245, 248, var(--bg-opacity));
    flex: 1 1 0%;
    padding-bottom: 2.5rem;
}
.top-bar {
    height: 67px;
    z-index: 51;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom-width: 1px;
    --border-opacity: 1;
    border-color: #dee7ef;
    border-color: rgba(222, 231, 239, var(--border-opacity));
}
.korisnik-slika {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid #ccc;
    overflow: hidden;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.korisnik-slika img {
    height: 100%;
}
.menu-items li a{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}